.side-project-container {
  background-color: var(--secondary);
}
.project-header {
  /* font-size: 3rem; */
  color: var(--font-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.grid-container {
  margin: 0rem 8rem 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 2rem;
  object-fit: cover;
  object-position: center center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  border-radius: 2rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 100%;
  background-color: black;
}

.link:hover .image {
  opacity: 0.2;
  transition: 0.3s ease 0s;
}

/* Dette er for hover effekt */
.link:hover .hidden-header {
  opacity: 1;
}
.hidden-header {
  color: white;
  opacity: 0;
  position: absolute;
}

@media (max-width: 48rem) {
  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem 3rem;
  }
}
