.header-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 10rem;
  background: var(--primary);
  margin-bottom: 3rem;
}
.nav,
.home-button {
  flex: 1;
}
.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}
.nav a,
.home-button {
  color: var(--font-color);
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 48rem) {
  .header-container {
    padding: 1rem 1rem;
  }
}
