.experience-work-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 3rem;
}
.education-container,
.experience-container {
  flex: 1;
}
.card-container {
  /* legg til display: flex. og flex 1 paa kortene; */
  padding-left: 1rem;
  border-left: 0.2rem solid var(--primary);
}
.experience-header,
.education-header {
  margin-bottom: 1rem;
  color: black;
}
.card {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid var(--secondary);
}

.experience-list-container {
  list-style: none;
}

@media (max-width: 48rem) {
  .experience-work-container {
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
